#root {
/*  width: 1000px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 1em;
}

h1 {
  font-family: 'Snell Roundhand';
  font-weight: bold;
}

#conjugé {
  font: 35pt 'Snell Roundhand';
}

.key {
  font-family: monospace;
  background: #eee;
  padding: 0.2em;
  border-radius: 0.2rem;
}

#keymap td {
  padding-right: 10pt; 
}