#root {
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;

  --fancy-font: 'Snell Roundhand';
}

h1 {
  font-family: var(--fancy-font);
  font-weight: bold;
}

#conjugé {
  font: 35pt var(--fancy-font);
  position: relative;
}

#conjugé-input {
  font: inherit;
  background: none;
  padding: 0;
  display: block;
  width: 100%;
  text-align: center;
  appearance: none;
  border: none;
}

#conjugé-overlay {
  width: 100%;
  position: absolute;
  white-space: pre;
  pointer-events: none;
  color: transparent;
}
#conjugé-overlay.correct {
  text-shadow: 0 0 15px #0f0;
}
#conjugé-overlay span.error {
  color: red;
}

#conjugé-overlay.incomplete::after {
  color: red;
  position: absolute;
  content: "...";
}

#conjugé-input:invalid {
  border-bottom: 1pt dashed gray;
}

.key {
  font-family: monospace;
  background: #7775;
  padding: 0.2em;
  border-radius: 0.2rem;
}

#keymap td {
  padding-right: 10pt; 
}

#instructions {
  max-width: 1000px;
}