#root {
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;

  --fancy-font: 'Snell Roundhand';
}

h1 {
  font-family: var(--fancy-font);
  font-weight: bold;
}

#conjugé {
  font: 35pt var(--fancy-font);
  position: relative;
}

#conjugé-input {
  font: inherit;
  background: none;
  padding: 0;
  display: block;
  width: 100%;
  text-align: center;
  appearance: none;
  border: none;
}

#conjugé-overlay {
  width: 100%;
  position: absolute;
  white-space: pre;
  pointer-events: none;
  color: transparent;
}
#conjugé-overlay.correct {
  text-shadow: 0 0 15px #0f0;
}
#conjugé-overlay {

  span.delete {
    color: red;
    text-decoration: line-through;
    text-decoration-thickness: 1pt;
  }

  .swap {
    color: red;
    position: relative;
    &:after {
      font-family: 'Comic Sans MS';
      color: red;
      content: attr(annotation);
      position: absolute;
      font-size: 0.4em;
      left: 40%;
      top: -0.4em;
      text-align: center;
    }
  }

  .insert {
    position: relative;
    &:before {
      font-family: 'Comic Sans MS';
      color: red;
      content: attr(annotation);
      position: absolute;
      font-size: 0.4em;
      top: -0.4em;
      left: -0.3em;
      text-align: center;
    }

    &:after {
      content: "^";
      color: red;
      position: absolute;
      font-size: 0.6em;
      left: -0.5em;
      top: 1.1em;
    }
  }

  span.missing {

    width: 1px;
    margin-right: -1px;
    display: inline-block;

    color: red;
      color: red;
      position: relative;
      left: -.4em;
      bottom: 0.6em;
      font-size: 0.8em;

    &:before {
      content: "^";
            position: relative;
      bottom: -1.4em;
      font-size: 0.8em;

    }
  }

  span.tail:after {
    color: red;
    position: absolute;
    content: "...";
  }

}

#conjugé-overlay.incomplete::after {
  color: red;
  position: absolute;
  content: "...";
}

#conjugé-input:invalid {
  border-bottom: 1pt dashed gray;
}

.key {
  font-family: monospace;
  background: #7775;
  padding: 0.2em;
  border-radius: 0.2rem;
}

#keymap td {
  padding-right: 10pt; 
}

#instructions {
  max-width: 1000px;
}